    <!-- NAV and BG --> 
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="navbar">
            <a class="navbar-brand" href="#">Julian's shed</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a pageScroll  class="nav-link" href="#home">Home</a>
                </li>
                <li class="nav-item">
                    <a pageScroll class="nav-link" href="#about">About me</a>
                  </li>
                <li class="nav-item">
                  <a pageScroll class="nav-link" href="#portfolio">Portfolio</a>
                </li>
                <li class="nav-item">
                  <a pageScroll class="nav-link" href="#clients">Clients</a>
                </li>
                <li class="nav-item">
                    <a pageScroll class="nav-link" href="#inquiries">Business inquiries</a>
                  </li>
              </ul>
            </div>
          </nav>
          <div class="content-container" id="home">
              <div class="img-container"></div>
              <div class="col-md-12" style="padding-top:380px;">
                  <h1 class="text-center topheader" style="color:white;">Welcome to Julian's shed</h1>
                </div>
      <p class="text-center bottom" style="color:white; font-size:20px;">Learn more about what I do <br> <a pageScroll href="#about" style="color:white;"><i class="fa fa-angle-down fa-3x" aria-hidden="true"></i></a></p>
            </div>
<router-outlet></router-outlet>
<!----------- Footer ------------>
<footer>
        <p class="made-by-me text-center">© Julian Alwandy - 2017</p>
        <p class="made-by-me text-center"> <a href="https://github.com/Alwandy" style="color:white;"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a> <a href="https://www.linkedin.com/in/julian-alwandy-83644787/" style="color:white;"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a></p>
        <p class="made-by-me text-center">Deployed to Azure App Services - Building with <a href="http://azure.com">Azure</a></p>
      </footer>