<!--- About me --> 
<div class="container-fluid"><section id="about" [ngsReveal]="{ reset: true}">
      <h1 class="text-center" style="padding-top:50px"> 
      Who am I?</h1>
    <p class="text-center">I'm 22 years old from Sweden currently working abroad. Looking for new challenges everyday.<br>
        Currently working for Microsoft, being part of their DevOps team for the Office 365 account. <br>
        I'm also currently completing my computer science studies part time while working full time being creative.
    </p>

    
    <div class="row" style="padding-top:50px;">
        <div class="col-md-2">
          </div>
    <!--- FIRST COLUMN  --> 
        <div class="col-md-3">
    <h2 class="text-justify"><i class="fa fa-comments-o fa-2x" aria-hidden="true"></i> Ideas
    </h2>        
      <p>I always work with my clients to finalize their idea before starting the job to make sure this is the clients expectation.</p>
    </div>
    <!--- SECOND COLUMN  --> 
    <div class="col-md-3">
        <h2 class="text-justify"> <i class="fa fa-code fa-2x" aria-hidden="true"></i> Code</h2>        
          <p>I work with these languages: HTML(5), CSS(3), Javascript, C# and several frameworks depending on the project e.g Angular, NodeJS, Bootstrap, .NET</p>
        </div>

            <!--- THIRD COLUMN  --> 
    <div class="col-md-3">
        <h2 class="text-justify"> <i class="fa fa-code fa-2x" aria-hidden="true"></i> APIs</h2>        
          <p>Comfortable working with RESTFUL APIs and SOAP APIs.</p>
        </div>
    </div>  
  </section>
  </div>
  


  <!--- Portfolio -->

  <div class="container-fluid" style="background-color: #eee;  position: relative; overflow: hidden; color:white;">
        <div class="img-container"></div>            
        
      <section id="portfolio" [ngsReveal]="{ reset: true}">
      <h1 class="text-center" style="padding-top:50px">Portfolio</h1>
      <p class="text-center">Some projects I've created:</p>
      <div class="row">
          <div class="col-md-3"></div>                
      <div class="col-md-3"><h2 class="text-center">Food nutrition</h2>
        <blockquote class="blockquote">
            <p class="mb-0">This app is designed to retrieve food nutrition information through an API.</p>
          </blockquote>    </div>  
          
          <div class="col-md-3"><h2 class="text-center">Dublin Bus App, Alexa</h2>
            <blockquote class="blockquote">
                <p class="mb-0">This app is like the dublin bus app but designed for <a href="https://www.amazon.com/Amazon-Echo-Bluetooth-Speaker-with-WiFi-Alexa/dp/B00X4WHP5E">Amazon echo</a>.</p>
              </blockquote>      </div>      
    </div>
    <p class="text-center">You can also visit my github for some personal projects I've done.</p>
  </section>            <br>
  </div>

  


 
  <!--- Clients -->
  <div class="container-fluid " >
        <section id="clients" [ngsReveal]="{ reset: true}">
      <h1 class="text-center" style="padding-top:50px">Client inputs</h1>
      <div class="row">
      <div class="col-md-3">
      <blockquote class="blockquote text-right">
          <p class="mb-0">I have worked with Julian for a few years in my position as a jack of all trades in HPE, Julian is very knowledged in most of HPEs portfolio and is not afraid to get his feet wet if a problem is new to him.</p>
          <footer class="blockquote-footer" style="background-color:transparent;">Written by <cite title="Source Title">Eirik Zakariassen, HPE</cite></footer>
        </blockquote> </div>

        <div class="col-md-3">
            <blockquote class="blockquote text-right">
                <p class="mb-0">Julian has displayed impeccable behaviour, enveloping and exemplifying our core values through his actions.</p>
                <footer class="blockquote-footer" style="background-color:transparent;">Written by <cite title="Source Title">Anonymous</cite></footer>
              </blockquote> </div>
          
              <div class="col-md-3">
                  <blockquote class="blockquote text-right">
                      <p class="mb-0">We contacted Julian to write a small app in VB.NET for one of our customers, the challenge was to make the SOAP request work with the out-dated revenue document and Julian delivered with proper documentation and also reported the issue to the revenue.</p>
                      <footer class="blockquote-footer" style="background-color:transparent;">Written by <cite title="Source Title">Anonymous</cite></footer>
                    </blockquote> </div>
                    <div class="col-md-3">
                        <blockquote class="blockquote text-right">
                            <p class="mb-0">Julian always digs in into the challenge, no matter the complexity Julian has a solution provided which is efficient for our business.</p>
                            <footer class="blockquote-footer" style="background-color:transparent;">Written by <cite title="Source Title">Anonymous</cite></footer>
                          </blockquote> </div>
                  </div>
    </section>
    </div> 

  


 <!-- Business -->
<div class="container-fluid" style="background-color: #eee;   position: relative; overflow: hidden;">
        <div class="img-business"></div>
        <section id="inquiries" [ngsReveal]="{ reset: true}">
  <h1 class="text-center" style="padding-top:50px">Business inquiries</h1>
  <div class="text-center">      
<a href="mailto:me@alwandy.me"> <button type="button" class="btn btn-primary" style="margin-bottom:30px; text-align:center;">Contact me</button></a>
</div></section>
</div>